main {
  display: flex;
  align-items: center;
  flex-direction: column;
  background: var(--shape-body);
  flex: 1;
  overflow: auto;
  /* width: 27.5rem; */
  max-width: 51.25rem;
  border-radius: 0.5rem;
  &::-webkit-scrollbar {
    display: none;
  }
  /* padding: 5rem 8.125rem; */

  #main-container {
    /* border: 1px solid blue; */
    margin: 2rem 6rem 3rem;

    h2 {
      font: var(--heading-md);
      color: var(--text-heading);
      margin-bottom: 2.5rem;
    }

    fieldset {
      border: none;
      width: 100%;
      margin-bottom: 3rem;

      .container-fieldset-title {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 0.5rem;

        label {
          font: var(--heading-sm);
          color: var(--text-heading);
        }
        img {
          width: 1.5rem;
        }
      }

      .container-input {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        label {
          font: var(--body-sm);
          color: var(--text-body);
          margin-bottom: 0.5rem;
        }
        input {
          height: 3rem;
          border: 1px solid var(--input-stroke);
          border-radius: 0.5rem;
          background: var(--input-base);
          color: var(--input-placeholder);
          padding-left: 1rem;
          &::placeholder {
            color: var(--input-placeholder);
          }
          
        }
        input:focus {
          border: 1px solid var(--brand-light);
          outline: none;
        }
      }

      .input-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
      }

      #description input {
        height: 8.5rem;
        padding-bottom: 5.5rem;
        &::placeholder {
          position: absolute;
          padding-left: 0.25rem;
          top: 1rem;
          left: 0.75rem;
        }
      }

      /* #checkbox-type { A FAZER !!!!!!!!!!
      } */
    }

    .container-cores {
      display: flex;
      justify-content: space-between;
      height: 2.5rem;
      margin-top: 0.5rem;

      .cor {
        width: 2.5rem;
        height: 2.5rem;
        border: 0.5rem solid var(--shape-button);
        border-radius: 50%
      }
    }

    .container-themes {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 0.5rem;
      
      figure {
        background: var(--shape-button);
        border-radius: 0.5rem;
        border: 1px solid transparent;

        img {
          margin: 0.25rem;
        }

        figcaption {
          font: var(--body-sm);
          color: var(--text-heading);
          text-align: center;
          margin-bottom: 0.5rem;
        }
        
        &:hover {
          border: 1px solid var(--brand-light);
        }
      }
    }

    .container-style {
      /* border: 1px solid blue; */
      width: 11rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      #light {
        background: var(--brand-light);
      }
      #light button {
          left: 2rem;
          background: var(--text-heading);
      }

      .button-style {
        border: 1px solid var(--input-stroke);
        border-radius: 999px;
        background: var(--input-base);
        width: 4rem;
        height: 2rem;
        position: relative;

        &:hover {
          cursor: pointer;
        }

        button {
          width: 1.5rem;
          height: 1.5rem;
          border: none;
          border-radius: 50%;
          margin-left: 0.25rem;
          background-color: var(--input-stroke);

          position: absolute;
          top: 10%;
          left: 0;
          z-index: 1;
          transition: all 0.3s ease;

          &:hover {
            cursor: pointer;
          }
        }

      }

      span {
        font: var(--body-sm);
        color: var(--text-body);
        margin-left: 0.75rem;
      }
    } 

    /* #file-selector { A FAZER !!!!!!!!!!
    } */

    .divider {
      height: 0.0625rem;
      background: var(--input-stroke);
      margin-bottom: 2.5rem;
    }

    .checkbox-final {
      display: flex;
      margin-bottom: 0.5rem;
      align-items: center;

      p {
        font: var(--body-xs);
        color: var(--text-body);
        margin-left: 0.5rem;

        span {
          color: var(--brand-light);
          text-decoration: underline;

          &:hover {
            cursor: pointer;
          }
        }
      }

      input[type="checkbox"] {
        appearance: none;
        width: 1.25rem;
        height: 1.25rem;
        border: 1px solid var(--input-stroke);
        border-radius: 4px; /* Optional, for rounded corners */
        background-color: var(--input-base);
      }
      
      input[type="checkbox"]:checked {
        /* transition: border-color 0.1s; */
        border-color: var(--brand-light);
      }
      
      input[type="checkbox"]:checked::after {
        content: url(/assets/icons/check.png);
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  } 
}