* {
  /* height: 100vh; */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

:root {
  background: #29292E;

  --brand-light: #59B2FF;
  --brand-mid: #3487CF;
  --brand-dark: #1D6FB6;
  --purple: #B259FF;
  --fuschia: #FF59F9;
  --pink: #FF598B;
  --orange: #FF8B59;
  --yellow: #FFCD59;
  --lime: #E1FF59;
  --green: #59FF91;
  --cyan: #59FFF9;
  --navy: #6A59FF;
  --danger: #FF5959;
  --input-base: #1C1F21;
  --input-stroke: #363B40;
  --input-placeholder: #869198;
  --shape-background: #131516;
  --shape-body: #212427;
  --shape-button: #2D3136;
  --shape-hover: #383D42;
  --text-body: #C8CDD0;
  --text-heading: #F9F9F9;

  --font-logo: "Leckerli One", serif;
  --logo: 400 40px var(--font-logo);

  --font-heading: "Baloo 2", serif;
  --heading-md: 700 28px var(--font-heading);
  --heading-sm: 700 18px var(--font-heading);

  --font-body: "Open Sans", serif;
  --body-md: 400 1rem var(--font-body);
  --body-sm: 400 0.875rem var(--font-body);
  --body-xs: 400 0.75rem var(--font-body);
}

body {
  overflow-x: hidden;
}