#app {
  display: flex;           
  justify-content: center;
  gap: 1.25rem;   
  width: 100%;
  max-width: 71.25rem;
  height: 100vh;  
  overflow: hidden;
  padding: 2rem 2rem 0;
  background: var(--shape-background);

  justify-content: space-around;
}

aside {
  #aside-container {
    max-width: 25rem;
    display: flex;
    justify-content: flex-end;
    /* padding-left: 1.25rem; */
    position: relative;

    #aside-text {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      position: absolute;
      top: 2rem;
      right: 2rem;
      left: 2rem;

      img {
        height: 3rem;
        width: 3rem;
      }

      h2 {
        font: var(--logo); 
        color: var(--pink);
      }

      p {
          font: var(--body-md);
          color: var(--text-heading);
      }
    }

    img {
      width: 100%;
      text-align: right;

      border-radius: 0.5rem;
    }
  }
}

main {
  background: var(--shape-body);
  flex: 1;
  overflow: auto;
  width: 27.5rem;
  max-width: 51.25rem;
  border-radius: 0.5rem;
  border: 1px solid red;
  &::-webkit-scrollbar {
    display: none;
  }
  /* padding: 5rem 8.125rem; */

  #main-container {
    /* border: 1px solid blue; */
    margin: 5rem 6rem;

    h2 {
      font: var(--heading-md);
      color: var(--text-heading);
      margin-bottom: 2.5rem;
    }

    fieldset {
      border: none;
      width: 100%;
      margin-bottom: 3rem;

      .container-fieldset-title {
        display: flex;
        align-items: center;
        gap: 0.75rem;
        margin-bottom: 0.5rem;

        label {
          font: var(--heading-sm);
          color: var(--text-heading);
        }
        img {
          width: 1.5rem;
        }
      }

      .container-input {
        display: flex;
        flex-direction: column;
        margin-top: 1rem;
        label {
          font: var(--body-sm);
          color: var(--text-body);
        }
        input {
          margin-top: 0.5rem;
          height: 3rem;
          border: 1px solid var(--input-stroke);
          border-radius: 0.5rem;
          background: var(--input-base);
          color: var(--input-placeholder);
          padding-left: 1rem;
          &::placeholder {
            color: var(--input-placeholder);
          }
        }
      }

      .input-grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 1rem;
      }

      #description input {
        height: 8.5rem;
        &::placeholder {
          position: absolute;
          top: 1rem;
          left: 0.75rem;
        }
      }
    }

    .container-cores {
      display: flex;
      justify-content: space-between;
      height: 2.5rem;
      margin-top: 0.5rem;

      .cor {
        width: 2.5rem;
        height: 2.5rem;
        border: 0.5rem solid var(--shape-button);
        border-radius: 50%
      }
    }

    .divider {
      height: 0.0625rem;
      background: var(--input-stroke);
      margin-bottom: 2.5rem;
    }

    .checkbox-final {
      display: flex;

      p {
        font: var(--body-xs);
        color: var(--text-body);
        margin-left: 0.5rem;
      }
    }
  } 
}